body {
    color: red;
}

.flex_center{
    display: flex;
    justify-content: center;
}

#file_form{
    display: flex;
    justify-content: center;
}

#drop_area {
    border: rgb(255, 69, 0) 2px dashed;
    height: 25vw;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: border-color 0.3s;
    border-radius: 10px;
}

.highlight {
  border: #ff4500 3px dashed !important;
  background-color: rgb(247, 200, 182);
}

.hidden {
    display: none;
}

#result{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50vw;
    border: rgb(255, 69, 0) 1px solid;
    background-color: rgb(250, 222, 211);
    margin-top: 10px;
}
#result img {
    height: 100px;
    width: 100px;
}
#result div {
    display: block;
    color: gray;
}
#result div span{
    font-weight: bold;
    color: red;
}
.download-button{
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}
